version: "3.7"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ltser-lyudao-backend-docker
    volumes:
      - .:/app
      - ../ltser-lyudao-volumes/static:/app/static
      - ../ltser-lyudao-volumes/media:/app/media
      - ../ltser-lyudao-volumes/frontend:/frontend
    environment:
      - WEB_ENV=${WEB_ENV}
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${DOCKER_NAME}
      POSTGRES_USER: ${DOCKER_USER}
      POSTGRES_PASSWORD: ${DOCKER_PASSWORD}
      #POSTGRES_HOST_AUTH_METHOD: md5
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
        - ./initdb:/docker-entrypoint-initdb.d
        - ../ltser-lyudao-volumes/pgdata:/var/lib/postgresql/data/pgdata
    #healthcheck:
    #  test: ["CMD", "pg_isready -U ltserlypdao"]
    #  interval: 3s
    #  timeout: 5s
    #  retries: 5
#volumes:
#  postgres_data: